.SearchResults {
    background-color: #121212;
    border-radius: 1rem;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
}
  
.SearchResults h1 {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
}


