.Playlist {
    background-color: #121212;
    border-radius: 1rem;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}

.Playlist h1 {
    font-size: 1.5rem;
    margin: 0;
}

.Playlist button {
    background-color: #1DB954;
    border: none;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #FFFFFF;
}

.PlaylistHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.PlaylistHeader button {
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #1DB954;
}

.PlaylistHeader button:hover {
    background-color: #282828; 
}

.PlaylistNameInput {
    background-color: transparent;  
    border: none;
    border-bottom: 1px solid #FFFFFF;  
    padding: 0.5rem 1rem 0.3rem 1rem;  
    color: #FFFFFF;  
    font-size: 1rem;  
    width: 60%;  
    transition: background-color 0.3s ease, border-color 0.3s ease;
    outline: none;  
}

.PlaylistNameInput:focus {
    border-color: #1DB954;
    box-shadow: none;
}

.PlaylistNameInput::placeholder {
    line-height: 1;
    vertical-align: middle;
}

.ExitEditModeButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem; 
    line-height: 1;
    color: #FFFFFF !important;
    padding: 0.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%; 
    right: 0.6rem;  
    transform: translateY(-50%); 
    transition: background-color 0.3s ease;
}

.ExitEditModeButton:hover {
    background-color: #282828;
}

.PlaylistSave {
    margin-top: auto; 
    margin-bottom: 1rem;
    align-self: center; 
    transition: background-color 0.3s ease; 
}

.PlaylistSave:hover {
    background-color: #149440; 
}

@media (max-width: 768px) {
    .Playlist {
        padding: 0.5rem;
    }
  
    .Playlist h1 {
        font-size: 1.25rem;
    }
  
    .PlaylistHeader button,
    .PlaylistNameInput,
    .ExitEditModeButton,
    .PlaylistSave {
        font-size: 0.875rem; /* Reduce font size for mobile */
    }
  
    .PlaylistHeader button,
    .ExitEditModeButton {
        padding: 0.3rem 0.6rem; /* Adjust padding for mobile */
    }
  
    .PlaylistSave {
        margin-top: 0.5rem; /* Adjust margin for mobile */
    }
  
    .PlaylistNameInput {
        width: 70%; /* Increase input width for mobile */
    }
}

