.Tracklist {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    max-height: 400px;  /* Define a maximum height for the container */
    overflow-y: auto;   /* Scroll vertical when content exceeds max-height */
    overflow-x: hidden; /* To ensure only vertical scroll */
}
  
.Track {
    width: 90%;
    background-color: #181818;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
}

.Track:hover {
    background-color: #282828;
}  
  
.TrackImage {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    overflow: hidden;
}

.TrackImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.TrackInfo {
    flex-grow: 1;
    transition: margin-right 0.3s ease;
}
  
.Track.editing .TrackInfo {
    margin-right: 40px;
}

.Track h3 {
    margin: 0;
    font-size: 18px;
    color: #fff;
}
  
.Track p {
    margin: 0;
    font-size: 14px;
    color: #999;
}

.TrackAction, .TrackRemoveAction {
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    line-height: 30px;
}

.TrackAction {
    background-color: #1DB954;
}
  
.TrackAction:hover {
    background-color: #0f802d;
}

.TrackRemoveAction {
    display: flex; 
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #D32F2F !important;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: inherit;
}

.Track.editing .TrackRemoveAction:hover {
    background-color: #B71C1C !important;
}

.Track.editing .TrackRemoveAction {
    display: block; 
}

.TrackRemoveAction .minusSign {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .Tracklist {
      padding: 5px; /* Adjust padding for mobile */
    }
  
    .Track {
      width: 100%; /* Expand width for mobile */
      padding: 8px; /* Adjust padding for mobile */
    }
  
    .TrackImage {
      width: 70px; /* Reduce width for mobile */
      height: 70px; /* Reduce height for mobile */
      margin-right: 5px; /* Adjust margin for mobile */
    }
  
    .Track h3 {
      font-size: 16px; /* Reduce font size for mobile */
    }
  
    .Track p {
      font-size: 12px; /* Reduce font size for mobile */
    }
  
    .TrackAction, .TrackRemoveAction {
      font-size: 14px; /* Reduce font size for mobile */
      width: 20px; /* Reduce width for mobile */
      height: 20px; /* Reduce height for mobile */
    }
  
    .Track.editing .TrackInfo {
      margin-right: 20px; /* Adjust margin for mobile */
    }
  
    .Track.editing .TrackRemoveAction {
      right: 5px; /* Adjust position for mobile */
    }
  
    .TrackRemoveAction .minusSign {
      font-size: 14px; /* Reduce font size for mobile */
    }
}




